body {
  padding: 20px;
}

.public_timeline {
  width: 496px;
  padding: 0;
  margin: 0;
}

.tweet tr {
  padding: 0;
}

.tweet td {
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

.tweet:first-child .avatar, .tweet:first-child .content {
  padding-top: 0;
}

.tweet .content {
  padding: 0 0 0 15px;
}

.tweet:last-child .avatar, .tweet:last-child .content {
  padding-bottom: 0;
  border-bottom: 0;
}

.tweet .avatar, .tweet .content {
  padding-top: 15px;
}

.tweet .avatar img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
}

.tweet .header {
  margin-bottom: 5px;
}

.tweet .header .userName {
  font-weight: bold;
}

.tweet .header .screenName {
  color: grey;
  font-size: 90%;
}
